<!DOCTYPE html>
<html ng-app="myTicTacToeApp">
<head>
	<title>Angular Tic Tac Toe</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
	 <script src="main.js"></script>

</head>
<body  ng-controller="MyTicTacToeApp">
	<h1>Tic Tac Toe - Angular</h1>
	<div class="container" >
		<div class="cells" ng-repeat="c in cells" ng-click="color">
			
		</div>
	</div>
	<h2> You Win/Lose</h2>
	<button ng-click="test()">Reset</button>

</body>
</html>