body {
	background-color: lightblue;
	text-align: center;
	font-family: helvetica;
	font-weight: 300;
}

.container {
	width: 500px;
	height: 500px;
	margin: auto;
}

.cells {
	width:160.5px;
	height: 160.5px;
	border: 2px solid white;
	display: inline-block;
	float: left;
	color: black;
	background-color: lightgrey;
	
}


h1,h2 {
	color: white;
	font-weight: lighter;
	font-size: 48px;
	text-align: center;
}


.red {
	background-color: red;
}

.blue {
	background-color: blue;
}


